<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>데이터시각화</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

</head>
	<body>
    {% include 'blog/navbar.html' %}
		<h5>데이터시각화 Kibana</h5>
        <iframe src="http://125.133.75.24:33134/goto/4df8a830-e670-11ec-846c-937651931664" height="900" width="1500"></iframe>
<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>
	</body>

</html>